*
  box-sizing: border-box;
  word-wrap: break-word;
  word-break:break-all;

html, body
  position: relative;
  margin: 0px;
  padding: 0px;
  min-height: 100vh;
  background: linear-gradient(to right, #fd8467, #f3a380);
  min-width: 1250px;