<h1>Examples</h1>

<ul>
  <li>
    <a [routerLink]="['/enumerate-devices']">查看 video audio 设备列表</a>
  </li>
  <li>
    <a [routerLink]="['/local-video-audio']"
      >本地音视频采集，获取本地音视频流</a
    >
  </li>
  <li>
    <a [routerLink]="['/get-image-in-video']"
      >本地音视频采集，从视频中获取图像</a
    >
  </li>
  <li>
    <a [routerLink]="['/get-audio']">只获取音频信息</a>
  </li>
  <li>
    <a [routerLink]="['/get-stracks']">获取视频轨</a>
  </li>
  <li>
    <a [routerLink]="['/record-audio-and-video']">录制音视频</a>
  </li>
  <li>
    <a [routerLink]="['/record-desktop']">WebRTC 捕获桌面</a>
  </li>
  <li>
    <a [routerLink]="['/socket-io-message']">信令服务器 socket.io 发送消息</a>
  </li>
  <li>
    <a [routerLink]="['/local-p2p']">本地 端对端连接</a>
  </li>
  <li>
    <a [routerLink]="['/webrtc-p2p']">WebRTC 端对端连接</a>
  </li>
  <li>
    <a [routerLink]="['/webrtc-p2p-shared-desktop']">WebRTC 共享桌面</a>
  </li>
  <li>
    <a [routerLink]="['/webrtc-p2p-media-control']"
      >WebRTC 媒体控制与数据统计</a
    >
  </li>
  <li>
    <a [routerLink]="['/webrtc-data-channel']">WebRTC 非音视频数据传输,通过(createDataChannel)来实现文本聊天（发送文件），延迟较大</a>
  </li>
</ul>
