<section class="content">
  <div class="videos">
    <!-- *ngFor="let it of liveVideos" -->
    <!-- [srcObject]="it.srcObject" -->
    <video #live class="live" autoplay></video>
  </div>
  <div class="list">
    <div class="title">
      共<span>{{ clientsCount }}</span
      >人
    </div>
    <ul #list>
      <li *ngFor="let it of messgaes">{{ it.message }}</li>
    </ul>
    <div class="message-content">
      <input
        class="msg"
        type="text"
        placeholder="emter..."
        #msg
        (keyup.enter)="send(msg.value); msg.value = ''"
      />
      <button class="send" (click)="send(msg.value); msg.value = ''">
        send
      </button>
    </div>
  </div>
</section>
